.navbar {
    display: flex;
    gap: 1rem;
    padding: 10px;
}

.navbar a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.navbar a.active {
    color: red;
    text-decoration: underline;
    font-weight: bold;
}