.navbar {
    background: white;
    padding: 18px 28px;
    border-bottom: 1px solid #ddd;
    display: flex;
    gap: 25px;
    position: sticky;
    top: 0;
    z-index: 50;
    justify-content: center;
}

.navbar a {
    text-decoration: none;
    color: #555;
    font-size: 17px;
    font-weight: 500;
    padding-bottom: 4px;
    transition: color 0.2s ease-in-out;
}

.navbar a.active {
    color: royalblue !important;
    font-weight: bold;
    border-bottom: 2px solid royalblue;
    padding-bottom: 2px;
}

.navbar a:hover {
    color: #111;
}